/* Global */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Helvetica', sans-serif;
}

ul {
  list-style: none;
}

a {
  color: #999;
  text-decoration: none;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.left {
  display: flex;
  align-items: center;
}

.logo a {
  color: #000;
}

.logo h1 {
  font-size: 1.1rem;
}

.logo p {
  font-size: 1rem;
}

.nav {
  display: flex;
  align-items: center;
}

.nav li {
  margin-right: 1.2rem;
}

.nav li a {
  font-size: 14px;
  font-weight: 550;
}

.nav li:last-child a {
  display: block;
  background: #3cb46e;
  color: #fff;
  padding: 0.5rem 0.6rem;
  border-radius: 5px;
  transition: filter 0.5s;
}

.nav li:last-child a:hover {
  filter: brightness(85%);
}

.nav-search-form {
  margin-left: 1rem;
}

.nav-search-form input {
  padding: 0.7rem;
  border-radius: 20px;
  border: none;
  background-color: #eee;
  width: 600px;
  font-size: 0.9rem;
  color: #333;
}

.nav-search-form input:focus {
  background: #fff;
}

/* Category nav */
.category-nav {
  display: flex;
  padding-left: 0.6rem;
  overflow: hidden;
}

.category-nav .category {
  padding: 0.8rem;
}

.category a {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1;
}

/* Hero */
.hero {
  height: 600px;
  background: url('../img/hero.jpg') no-repeat right top;
  background-size: 100% 770px;
  width: 100%;
  position: relative;
}

.hero-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.hero-container {
  max-width: 60%;
  margin: auto;
}

.hero-content {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-content h1 {
  font-size: 3rem;
  color: #fff;
  z-index: 2;
}

.hero-content p {
  color: #fff;
  z-index: 2;
  margin: 1rem 0;
  line-height: 1.5;
}

.hero-search-form {
  z-index: 2;
  margin: 1rem 0.6rem 0 0;
}

.hero-search-form input {
  width: 100%;
  padding: 1.2rem;
  border-radius: 5px;
  border: none;
  color: #000;
  font-size: 0.9rem;
}

.trending-search-tags {
  z-index: 2;
}

.trending-search-tags a {
  color: #999;
  transition: 0.5s color;
}

.trending-search-tags a:hover {
  color: #fff;
}

/* Images */
.images {
  margin: 2rem 3rem;
}

/* Media queries */
@media(max-width:900px){
  .nav-search-form {
    display: none;
  }

  .hero {
    background-size: 200% 700px;
  }

  .hero-container {
    max-width: 90%;
  }

  .category-nav {
    display: none;
  }

  .images {
    margin: 0.5rem;
  }
}
